pkgbase = restop
	pkgdesc = A terminal system monitor
	pkgver = 0.0.1.r241031
	pkgrel = 1
	url = https://github.com/aeghn/restop
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !debug

pkgname = restop
